<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Machine Learning Models</title>

  <!-- Bootstrap core CSS -->
  <script src="../static/scripts/jquery.min.js"></script>
  <link href="../static/content/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="../static/content/clean-blog.min.css">
	<link rel="stylesheet" type="text/css" href="../static/content/normalize.css" />
	<link rel="stylesheet" href="../static/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/content/demo.css">
	<link rel="stylesheet" href="../static/content/model.css">
	<script src="../static/scripts/modernizr-custom.js"></script>
</head>

<body class="demo-2">
    <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
		  <a class="navbar-brand" href="{{ url_for('home') }}">Machine Learning</a>
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('home') }}">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('model') }}">Models</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('predictor') }}">Predictor</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	<!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/content/img/StockSnap_HOGKNEMAUX.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Machine Learning Models</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
	<div class="container">
		<div class="content">
			<div class="grid">
				<div class="grid__item" data-size="1280x1280">
					<a href="../static/content/img/7.jpg" class="img-wrap"><img src="../static/content/img/7.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>Silent Killer</h3>
							<p>Cows’ milk protein may be the single most significant chemical carcinogen to which humans are exposed. <em>&mdash; T. Colin Campbell</em></p>
						</div>
					</a>
				</div>
        <div class="grid__item" data-size="1280x1280">
					<a href="../static/content/img/7.jpg" class="img-wrap"><img src="../static/content/img/7.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>Silent Killer</h3>
							<p>Cows’ milk protein may be the single most significant chemical carcinogen to which humans are exposed. <em>&mdash; T. Colin Campbell</em></p>
						</div>
					</a>
				</div>
        <div class="grid__item" data-size="1280x1280">
					<a href="../static/content/img/7.jpg" class="img-wrap"><img src="../static/content/img/7.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>Silent Killer</h3>
							<p>Cows’ milk protein may be the single most significant chemical carcinogen to which humans are exposed. <em>&mdash; T. Colin Campbell</em></p>
						</div>
					</a>
				</div>
			</div>
			<!-- /grid -->
			<div class="preview">
				<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
				<div class="description description--preview"></div>
			</div>
			<!-- /preview -->
		</div>
	</div>
 
	<!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!-- <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul> -->
          <p class="copyright text-muted">ML: Obesity Classifier 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
	<script src="../static/scripts/bootstrap.bundle.min.js"></script>
	<script src="../static/scripts/clean-blog.min.js"></script>
	<script src="../static/scripts/imagesloaded.pkgd.min.js"></script>
	<script src="../static/scripts/masonry.pkgd.min.js"></script>
	<script src="../static/scripts/classie.js"></script>
	<script src="../static/scripts/main.js"></script>
	
	<script>
		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target != this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item != el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();
	</script>
</body>

</html>
